<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
        <meta name='' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='public/CSS/Main.css'>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        </head>
    <body>
        <h1 id="titulo">Comunidad TC</h1>
        <div class="contenedor-btn"><button class="btn" href="/">Registrarse</button></div>
        <div class="contenedor-tarjetas">
            #foreach($persona in $personas)    
            <div class="tarjeta-cliente">
                <div class="seccion-superior">
                    <div class="imagen-tarjeta">
                        <img src="$persona.fotografia" alt="">
                    </div>
                    <div class="tarjeta-nombre">
                        <span>Nombre completo: $persona.nombre $persona.apellidoPaterno $persona.apellidoMaterno</span>
                    </div>
                </div>
                <div class="seccion-inferior">
                    <div><strong>Edad: $persona.edad</strong> <span> </span></div>
                    <div><strong>Lenguajes favoritos: $persona.lenguajeFav</strong> <span> </span></div>
                    <div>
                        <strong>Vacunado: $persona.vacuna</strong>
                        <span></span>
                    </div>
                    <div>
                        <strong>Correo: $persona.correo</strong>
                        <span></span>
                    </div>
                </div>
            </div>
            #end
        </div>
        
        <script src='public/JS/Main.js'></script>
    </body>
</html>