<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Comunidad TC, UV, FEI">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Registrar Integrante TC</title>
    <link rel="stylesheet" href="public/CSS/registrarCliente.css" media="screen">
    <link rel="stylesheet" href="public/CSS/nicepage.css" media="screen">
    <link rel="stylesheet" href="public/CSS/Iniciar-Sesión.css" media="screen">
    <link rel="stylesheet" type="text/css" href="public/CSS/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <meta property="og:title" content="Inicio">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
</head>

<body data-home-page="/" data-home-page-title="Perfiles" class="u-body">
    
    <table>
        <tr>
            <td colspan="2">
                <h1>Registro</h1>
            </td>
        </tr>
        <tr>
            <td rowspan="6">
                <video id="video" playsinline autoplay></video>
                <canvas id="canvasFoto" width="600" height="300"></canvas>
            </td>
            <td>
                <div class="u-form-group u-form-name">
                    <input type="text" placeholder="Nombre" id="nombre" name="nombre" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="u-form-group u-form-name u-form-group-2">
                    <input type="text" placeholder="Apellido Paterno" id="apellidoPeterno" name="apellidoPaterno" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="u-form-group u-form-name u-form-group-3">
                    <input type="text" placeholder="Apellido Materno" id="apellidoMaterno" name="apellidoMaterno" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="u-form-email u-form-group">
                    <input type="email" placeholder="Correo" id="correo" name="correo" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="u-form-group u-form-name u-form-group-3">
                    <input type="number" min="17" max="150" placeholder="Edad" id="edad" name="edad" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                </div>
            </td>
        </tr>
        <tr>
            <td>    
                <div class="u-form-group u-form-name u-form-group-3">
                    <input type="text" placeholder="Lenguaje Favorito" id="lenguajeFavorito" name="lenguajeFavorito" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                </div>
            </td>
        </tr>
        <tr>
            <td> 
                <button type="button" id="foto" class="boton-verde u-btn u-button-style u-hover-palette-1-dark-1 u-btn-1">Tomar fotografía</button>
            </td>
            <td>        
                <div class="u-form-group u-form-name u-form-group-3">
                    <input type="text" placeholder="Vacuna" id="vacuna" name="vacuna" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                </div>
            </td>
        </tr>
        <tr>
            <td> 
                <button type="button" id="registrar" class="boton-verde u-btn u-button-style u-hover-palette-1-dark-1 u-btn-1">ACEPTAR</button>
            </td>
            <td> 
                <button type="button" id="cancelar" class="boton-verde u-btn u-button-style u-hover-palette-1-dark-1 u-btn-1">CANCELAR</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="u-form-send-message u-form-send-success" id="msg"></div>
            </td>
        </tr>
    </table>
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">Universidad Veracruzana&nbsp;<br>Tecnologías para la Integración de Soluciones
            </p>
        </div>
    </footer>
    <script src='public/JS/Registro.js'></script>
</body>

</html>